.container {
    display: flex;
    height: 700px;
    width: 100%;
    background-color: #9f9f9f;
    justify-content: flex-start;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: center; 
    align-items: center; */
    /* justify-content: flex-start */

}

.flex-direction-row {
    /* dafault flex direction */
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.flex-align-start {
    align-items: start;
}

.flex-align-center {
    align-items: center;
}

.flex-align-end {
    align-items: end;
}

.flex-column-reverse {
    flex-direction: column-reverse;
}

.flex-row-reverse {
    flex-direction: row-reverse;
}

.box {
    height: 200px;
    width: 200px;
    border: 1px black solid;
    margin: 0px;
}

.box.red {
    background-color: red;
    color: white
}

.box.yellow {
    background-color: yellow;
}

.box.blue {
    background-color: rgb(64, 64, 180);
    color: white
}