.container {
    height: 300px;
    width: 100%;
    background-color: #faf2d3;
    display: flex;
    flex-direction: column;
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* justify-content: center; 
    align-items: center; */
    /* justify-content: flex-start */
    justify-content: flex-start;

    .box {
        height: 80px;
        width: 80px;
        border: 1.5px black solid;
        margin: 3px;
    }

    .box.red {
        background-color: red;
    }

    .box.yellow {
        background-color: yellow;
    }

    .box.blue {
        background-color: blue;
    }